@use 'base/variables' as v;

.contenido-resumen {
    p {
        margin-bottom: 1rem;
    }

    span {
        color: v.$azul;
        font-weight: v.$bold;
        font-size: 2.4rem;
    }

    h3 {
        margin: v.$separacion 0 0 0;
    }
}

.contenedor-servicio {
    padding: 2rem 0;
    border-bottom: 1px solid v.$gris;
}