@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: 100%;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 0;

        @include m.tablet {
            padding: 3rem 0;
            overflow: scroll;
        }
    }
}

.barra {

    margin: v.$separacion 0;
    text-align: center;

    span{
        color: v.$azul;
        font-weight: v.$bold;
    }

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}